{% extends "registration/userbase.html" %}
{% block title %}设置新密码{% endblock %}
{% block head %}设置新密码{% endblock %}
{% block content %}
<form method="post">
    <div style="font-size: 15px;text-align: left">
    {% csrf_token %}
    {% for field in form %}
        <span style="font-size: 30px">{{ field.label_tag }}</span>
        {{ field }}
        {{ field.errors }}
        {% if field.help_text %}
            <p class="help text-small text-muted">{{ field.help_text|safe }}</p>
        {% endif %}
    {% endfor %}
    </div><br/>
    <button type="submit" style="background:#ff7dad;cursor:pointer;height:70px;width:150px;font-size:30px;color: blue">确认提交</button>
    <input type="hidden" name="next" value="{{ next }}"/>
{% endblock %}









