{% extends "registration/userbase.html" %}
{% block title %}密码重置{% endblock %}
{% block content %}<style>li{list-style: none;}</style>
<div class="col text-center">
<br/><br/><h1>密码重置</h1><br/><br/>
<form action="{% url 'password_reset' %}" method="post">{% csrf_token %}
  {% for field in form %}
   {{ field.label_tag }} {{ field }} <br/>
      <br/><span class="text-danger">{{ field.errors }}</span>
  {% endfor %}<br/>
  <button type="submit" class="btn btn-lg btn-secondary">确认提交</button>
  <input type="hidden" name="next" value="{{ next }}"/>
</form></div><br/><br/><hr/><br/>
{% endblock %}