{% extends "registration/userbase.html" %}
{% block title %}密码重置{% endblock %}
{% block head %}密码重置{% endblock %}
{% block content %}
    <form action="{% url 'password_reset' %}" method="post">
        <div style="font-size: 15px;text-align: left">
            {% csrf_token %}
            {% for field in form %}
                <span style="font-size: 30px;">{{ field.label_tag }}</span>
                {{ field }}
                {{ field.errors }}
                {% if field.help_text %}
                <p>{{ field.help_text|safe }}</p>
                {% endif %}
                <br/>
            {% endfor %}
        </div>
    <br/>
    <button type="submit" style="background:#ff7dad;cursor:pointer;height:70px;width:150px;font-size:30px;color: blue">确认提交</button>
    <input type="hidden" name="next" value="{{ next }}"/>
    </form>
{% endblock %}