{% extends "registration/userbase.html" %}
{% block title %}密码修改{% endblock %}
{% block content %}<br/>
<form action="{% url 'password_change' %}" method="post">
<div class="col-md-4 col-xm-12 offset-md-4 text-center">{% csrf_token %}
<h1>密码修改</h1><br/>
 {% for field in form %}
   {{ field.label_tag }} {{ field }}<br/>
   <span class="list-unstyled text-danger">{{ field.errors }}</span>
 {% endfor %}
</div><br/>
 <button type="submit" class="btn btn-danger">确认修改</button><br/><br/><hr/><br/>
 <input type="hidden" name="next" value="{{ next }}"/>
</form>
{% endblock %}