{% extends "registration/userbase.html" %}
{% block title %}设置新密码{% endblock %}
{% block content %}<style>li{list-style: none;}</style>
<br/><h1>设置新密码</h1><br/><br/>
<form method="post">{% csrf_token %}
  {% for field in form %}
    <div class="col">{{ field.label_tag }}{{ field }}
      <span class="text-danger">{{ field.errors }}</span>
    </div><br/>
  {% endfor %}
  <button class="btn btn-success btn-lg" type="submit">确认提交</button>
  <input type="hidden" name="next" value="{{ next }}"/>
</form><br/><br/><br/><br/><br/><br/><br/><hr/>
{% endblock %}
