{% extends 'base.html' %}{% load comment %}{% load static %}
{% block title %}留言板 --欢迎反馈您的意见和建议|neu-frog{% endblock %}
{% block head %}<meta name="keywords" content="留言板 反馈建议">
  <meta name="description" content="对于本站的看法留言">{% endblock %}
{% block main %}
<div class="row">
  <div id="user" hidden>{{ user.username }}</div>
  <div class="col text-center">
  <h1>留言板</h1>
    <form action="{% url 'message' %}" method="post" onsubmit="return judge()" role="form">
    <div class="form-group"> {% csrf_token %}
    <label>
      <textarea class="form-control input-lg" rows="4" cols="50" name="text" id="id_text" maxlength="500" required placeholder="输入你的留言吧~~"></textarea>
    </label><br/>
    <button class="btn btn-success" type="submit" name="submit" value="submit">submit</button>
    </div></form>
  </div>
</div>
<div class="row">
<div class="col-sm-0 col-md-2 col-lg-2 col-xl-2"></div>
<div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
  {% for message in message_list %}
  <div class="row" style="border: #259bff solid 1px;margin-bottom:5px">
    <div class="col-md-2 col-3" style="border-right: #3ffb5b 1px dotted ">
      <img  class="img-thumbnail" src="{{ message.user.image.url }}" alt="user头像">
      <a href="{{ message.user.get_absolute_url }}">{{ message.user }}</a>
      <br/><small>贡献数:{{ message.user.contribute }}</small>
    </div>
	<div class="col-md-10 col-9">
      <br/><p style="word-break: break-all;margin-top: 1em">{{ message.text }}</p><hr/>
    <div class="col text-right" style="padding:0 0 1em 0">
      <button class="btn btn-sm" title="回复" value="0" type="button" onclick="create(this,{{ message.pk }})"><i class="fa fa-comment-alt"> 回复</i></button>
      <button class="btn btn-sm" title="支持" onclick="agree(this,{{ message.pk }})" type="button"><i class="fa fa-thumbs-up"></i><span>{{ message.agree }}</span></button>
      <button class="btn btn-sm" title="反对" onclick="disagree(this,{{ message.pk }})" type="button"><i class="fa fa-thumbs-down"></i><span>{{ message.disagree }}</span></button>
        <small>{{ message.created_time }}</small>
    </div>{% get_comment_message message as reply_list %}
    <div class="col-md-11 col-xm-12 align-self-end offset-md-1" style="background-color: #f5f5f5">
      {% for reply in reply_list %}
      <p style="word-break: break-all">
        <a href="{{ reply.user.get_absolute_url }}">{{ reply.user }}</a>: {{ reply.text }}
        <small style="float: right;vertical-align: bottom">{{ reply.created_time }}</small>
      </p><hr/>
      {% empty %}{% endfor %}
    </div></div></div>
  {% empty %}{% endfor %}
</div></div><hr/>
{% endblock %}
{% block script %}<script>window.onload=m();
function m() { document.getElementById("message").className="nav-item active";}</script>
<script type="text/javascript" src="{% static 'commentAPP/js/message.js' %}"></script>{% endblock %}

