{% extends 'base.html' %}{% load static %}{% load highlight %}
{% block title %}站内搜索_{{ query }}{% endblock %}
{% block head %}
<meta name="keywords" content="书签有路 站内搜索结果 {{ query }}" />
<style>a{color: #00aa00;}.highlighted{color: #d01040;}</style>
{% endblock %}{% block main %}
<h1 class="col text-center">{{ query }} 的搜索结果</h1>
<div class="col-md-5 offset-md-3">
{% if query %}
  <ul class="list-group">
  {% for result in page.object_list %}<li class="list-group-item">
  <h4><a href="{{ result.object.url}}">{% highlight result.object.title with query %}</a></h4>
  <p>简介:{% highlight result.object.description with query %}</p>
  <span>上传者:<a href="{{ result.object.user.get_absolute_url }}">{{ result.object.user }}</a></span>
  <span>所属文章:<a href="{{ result.object.article.get_absolute_url }}">{{ result.object.article }}</a></span>
  </li>{% empty %}没有搜索到你想要的结果{% endfor %}</ul>
  {% if page.has_previous or page.has_next %}
  <div>
  {% if page.has_previous %}
<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}" target="_self">&laquo;Previous</a>
  {% endif %}
    |{% if page.has_next %}
<a href="?q={{ query }}&amp;page={{ page.next_page_number }}" target="_self">Next&raquo;</a>
   {% endif %}
  </div>
  {% endif %}
{% else %}请输入关键词{% endif %}</div>
{% endblock %}
