{% extends 'base.html' %}{% load static %}
{% block title %}站内搜索{% endblock %}
{% block main %}<div><br/><br/><br/><br/></div>
<div class="row">
<div class="col-md-6 offset-md-3 col-sm-12" style="background:url({% static 'resourcesAPP/img/gg_logo.png' %}) no-repeat;background-size: auto; border: #abdde5 1px solid">
<form role="search" action="https://www.google.com.hk/search" id="search_out_form" target="_blank" method="get">
  <div class="row"><label for="select"></label><label for="search"></label>
  <select style="opacity: 0.9" onchange="change(this)" id="select">
      <option value="google">google</option><option value="baidu">baidu</option></select>
  <input class="col form-control" style="opacity: 0.9;" type="search" id="search_out" placeholder="站外搜索: 请输入关键词" name="q"/>
  <button type="submit" class="btn btn-success"> 搜索</button></div>
</form><br/><br/>
<form role="search" method="get" action="{% url 'haystack_search' %}">
  <div class="row"><label for="search_in"></label>
  <input class="col form-control" style="opacity: 0.9;" type="search" id="search_in" name="q" placeholder="本站内搜索:  请输入关键词" required>
  <button type="submit" class="btn btn-success" onclick="return search_judge()">搜索</button></div>
</form></div></div><div><br/><br/><br/><br/><br/><br/><br/><br/><hr/></div>{% endblock %}
{% block script %}<script type="text/javascript" src="{% static 'resourcesAPP/js/resource.js'%}"></script>{% endblock %}