{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block main %}
<h1 class="col text-center">{{ title }}</h1>
    <small>文章个数:{{ article_list|length }}</small>
<div class="row"><div class="col-md-5 offset-md-3 col-sm-12">
<ul class="list-group list-unstyled">{% for article in article_list %}
<li class="list-group-item">
<a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
<br/>上传者: <a href="{{ article.user.get_absolute_url }}">{{ article.user }}</a>
{{ article.created_time }} 浏览量: {{ article.click }}
</li>
{% empty %}{% endfor %}</ul><br/><br/><hr/></div></div>
{% endblock %}